<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fometic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".generatereportfullresult"></activity>
        <activity android:name=".MatchResult" />
        <activity android:name=".choosegeneratereport" />
        <activity android:name=".generatereportteam" />
        <activity android:name=".generatereportteamb" />
        <activity android:name=".gerenatereportMenu" />
        <activity android:name=".generatereportteamfullmatch" />
        <activity android:name=".generatereportteambfullmatch" />
        <activity android:name=".InputName" />
        <activity android:name=".shootingpopup" />
        <activity android:name=".generatereport" />
        <activity android:name=".recordstat" />
        <activity android:name=".inputgame" />
        <activity android:name=".inputsquad" />
        <activity android:name=".inputteam" />
        <activity android:name=".chooseteam" />
        <activity android:name=".generatereportfullmatch" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>